#name {
    font-size: 32px;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid transparent;
    min-width: 80%;
    color: #252422;
}

#name:focus {
    border-bottom-color: #252422;
}

.category-description {
    height: 120px !important;
}

.category-form button {
    padding: 5px 10px;
    font-size: 16px;
    margin-top: .5rem;
}

@media screen and (max-width: 620px) {
    #name {
        width: 100%;
    }
}