.delete-button {
    font-size: 28px;
    margin: 15px 20px 0 0;
    padding: 5px;
    cursor: pointer;
    border-color: #252422; 
    transition: all 400ms;
}

.delete-button:hover {
    background-color: red;
    border-style: groove;
    border-color: #fffcf2;
    color: #FFFCF2;
}

@media screen and (max-width: 620px) {
    .delete-button {
        font-size: 22px;
    }
}